* {
  position: relative;
  background:lightblue;
}

#userName {
  width: 25%;
  
}

/* =========================
quiz Html
========================== */

#container {
  position: absolute;
  left: 0;
  width: 80%;
  background-color: white;
}

