
* {
  font-family: ‘Oxygen’, sans-serif;
}
#userName {
  width: 25%;
}
body {
  background-color: cadetblue;
}

h2 {
  text-align:center
}

#bits {
  font-size: 40px;
}
#please {
  font-size: 40px;
}
#signBtn {
background-color: white;}

.navbar {
  width: 100%;
  height: auto;
  float: left;
}

#avatar_img {
  height: 100px;
  width: 100px;
}
.card {
  margin: 5px;
  width:100%;
}




/* .card-content {
} */
.question_text_div {
  padding: 15px;
  margin: 5px;
}
.answers_div {
  padding: 15px;
  margin-left: 15px;
}

.btn-quiz
 {
   background-color: rgb(130, 243, 243) ;
   padding: 15px;
   color: rgb(31, 39, 39);
   margin-left: 5px;
 }

 .score-table-div {
  margin: 0;
  background: yellow;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  /* transform: translate(-50%, -50%)  */
 }

 #view-main-btn {
  background-color: rgb(130, 243, 243) ;
  padding: 15px;
  color: rgb(31, 39, 39);
  margin-left: 5px;
}

#view-profile-btn {
  background-color: rgb(130, 243, 243) ;
  padding: 15px;
  color: rgb(31, 39, 39);
  margin-left: 5px;
}
#carouselExampleIndicators {
  padding: 10px;
  margin: 20px;
} 

h2{
  color:white;
}

/* ======= */
.jsQuiz {
  margin: 5px;
}

