* {
  position: relative;
}

#userName {
  width: 25%;

}

/* =========================
quiz Html
========================== */

#container {
  position: absolute;
  left: 0;
  width: 80%;
  background-color: white;
}

/* ==========================
accept the changes below, xo mags, 
they affect quizhtml only 
===================*/

.navbar {
  width: auto;
  height: 75px;
  background-color: rgb(130, 88, 177);

}

.card {
  padding: 100px;
  margin: 5px;

}

.question_text_div {
  padding: 15px;
  margin: 5px;

}

.answers_div {
  padding: 15px;
  margin-left: 15px;

}